@import "@/app/styles/variables";

.banner {
  position: relative;
  height: 500px;
  background: $black;
  overflow: hidden;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
  position: absolute;
  width: 35px;
  height: 35px;
  background: $white !important;
  border: 1px solid $white !important;
  color: $black !important;
  z-index: 1000;
  top: 30%;
  transform: translateY(-50%);
  opacity: 0 !important;
  transition: all ease 0.5s;
}

.owl-carousel:hover .owl-nav .owl-prev,
.owl-carousel:hover .owl-nav .owl-next {
  opacity: 1 !important;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background: $color-primary !important;
  color: $white !important;
}

.owl-nav span {
  font-size: 1.75rem;
  line-height: 21px;
}

.owl-nav .owl-prev {
  left: 13px;
}

.owl-nav .owl-next {
  right: 13px;
}
